.textalg{
    display:flex!important;
    justify-content:right;
  // text-align: right;
    
}
.textright{
    display:flex!important;
    justify-content:right;
  // text-align: right;
    
}
.tete{
  display:flex!important;
  padding-left: 0%!important;
}