<div id="timesheet" class="page-layout simple fullwidth tabbed" fxLayout="column">

    <!-- CONTENT -->

    <div class="content p-24" >
        <div class="mat-card mat-elevation-z4 p-24 " fxLayout="column" fxLayoutAlign="start" style="padding: 0!important;">
            <div class="accent-900">
                <div  class="package-type h-44 titre_bar" fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="p-12">
                        <span class="border-right mr-2" >Time Sheet </span>
                        
                        <!-- <button mat-button (click)="modifier()">Basic</button> -->
                        <!--button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter"(click)="ajouter()" >
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                        <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier" (click)="modifier()" *ngIf="afficherboutonModifSupr_entete">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer" (click)="supprimer()" *ngIf="afficherboutonModifSupr_entete">
                            <mat-icon>delete</mat-icon>
                        </button-->
        
        
                        <!--button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer">
                            <mat-icon>save</mat-icon>
                        </button-->
        
                        <!--button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler">
                            <mat-icon>cancel</mat-icon>
                        </button-->
                    </span>
                    <span class="p-12">
                        <span class="border-right mr-2" >Personnel </span> {{currentpersonnel.nom}}                 
                        
                    </span>
                </div>
                <mat-divider></mat-divider>            
                <div class="mt-8">
                    <form name="filtre_enteteForm" [formGroup]="filtre_enteteForm" novalidate fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
                        <div fxLayout="row" fxLayout.xs="column">                        
                            <mat-form-field  fxFlex="100" class="pl-4 my-form-field" appearance="outline"> 
                                <mat-label > Date début de la semaine </mat-label > 
                                <input  matInput [matDatepicker] = "picker" [(ngModel)]="filtre.date_debut_semaine" formControlName="date_debut_semaine" required> 
                                <mat-datepicker-toggle  matSuffix [for] = "picker "> </mat-datepicker-toggle> 
                                <mat-datepicker #picker> </mat-datepicker> 
                                <mat-error>
                                        Date obligatoire
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field  fxFlex="100" class="pl-4" appearance="outline"> 
                                <mat-label > Date de fin de la semaine </mat-label > 
                                <input  matInput [matDatepicker] = "picker1" [(ngModel)]="filtre.date_fin_semaine" formControlName="date_fin_semaine" required> 
                                <mat-datepicker-toggle  matSuffix [for] = "picker1"> </mat-datepicker-toggle> 
                                <mat-datepicker #picker1> </mat-datepicker> 
                                <mat-error>
                                        Date obligatoire
                                </mat-error>
                            </mat-form-field>
        
                            <!--mat-form-field  fxFlex="100" class="pl-4" appearance="outline" style="width:320px;">
                                <mat-label>Personnel</mat-label>
                            
                                <mat-select formControlName="id_personnel" [(ngModel)]="entete_time_sheet.id_personnel" required>
                                
                                    <mat-option *ngFor="let personnal of allpersonnel" 
                                        [value]="personnal.id" [attr.selected]="entete_time_sheet.id_personnel==personnal.id ? true : null" >
                                    {{personnal.nom}}
                                    </mat-option>
                                </mat-select>   
                            </mat-form-field-->
                       
                        </div>
                    
                        <div class="ml-24">
                            <button  mat-raised-button color="primary" class="submit-button" aria-label="CREATE AN FORM"
                                [disabled]="filtre_enteteForm.invalid" (click)="timesheet_entetebysemaine()">
                                Actualiser
                            </button>
                        </div>
                      
                    </form>
                </div>
                
                <div class="mat-card mat-elevation-z4  m-4">
                    <mat-divider style="border-top-width: 2px;"></mat-divider>
                    <div  class="package-type h-44 primary-50" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12">
                            <span class="border-right mr-2" >DATE TIME SHEET </span>
                            
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter"
                                (click)="ajouter()" *ngIf="!this.new_item && !this.editing[this.index_selected]">
                                <mat-icon>add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier" (click)="modifier()"
                                *ngIf="item_selected.length > 0 && !this.editing[this.index_selected]">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer"
                                *ngIf="item_selected.length > 0 && !this.editing[this.index_selected]" (click)="supprimer()">
                                <mat-icon>delete</mat-icon>
                            </button>


                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer"
                                *ngIf="this.editing[this.index_selected]" (click)="verification_avant_save(0)">
                                <mat-icon>save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler" (click)="annuler()"
                                *ngIf="item_selected.length > 0 && this.editing[this.index_selected]">
                                <mat-icon>cancel</mat-icon>
                            </button>           
                        </span>
                        <span class="p-12"><input type="text" style="padding:8px;margin:15px auto;width:100%;color:#353A48; border: 1px solid #babdc5;"
                            placeholder="Rechercher..." (keyup)="updateFilter_entete($event)" /></span>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <ngx-datatable class="material" [rows]="rows_timesheet_entete" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
                            [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
                            [selectionType]="'checkbox'" [limit]="10" [selected]="item_selected" [selectionType]="'single'"
                            (select)="onSelect($event)">
                            <ngx-datatable-column name="Date" prop="date_feuille" [cellClass]="'my-custom-cell-global'">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                    <span *ngIf="!editing[rowIndex]" >{{ formatDate(value) }}</span>
                                    <span *ngIf="editing[rowIndex]">
                                        <input  [max]="datenow" [matDatepicker] = "picker2" (dateInput)="updateValue($event, 'date_feuille', rowIndex)" [value]="value"/>
                                        <mat-datepicker-toggle  matSuffix [for] = "picker2"> </mat-datepicker-toggle> 
                                        <mat-datepicker  #picker2> </mat-datepicker> 

                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    
                </div>
            </div>
            <div class="mt-20">
                <div class="mat-card mat-elevation-z4  m-8">

                    <mat-tab-group (selectedTabChange)="tabClick($event)" [(selectedIndex)]="tabindex">
    
                        <mat-tab label="DETAIL TIME SHEET" [disabled]="!item_selected[0]">
                            <div class="tab-content p-24">
                                <!-- PUT YOUR TAB CONTENT HERE -->
                                <div class="mat-card mat-elevation-z4  m-4">
                                    <mat-divider></mat-divider>
                                    <div  class="package-type h-44 primary-50" fxLayout="row" fxLayoutAlign="space-between center">
                                        <span class="p-12">
                                            <span class="border-right mr-2" >DETAIL </span>
                                            
                                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter_detail"
                                                (click)="ajouter_detail()" *ngIf="!new_item_detail && item_selected_detail.length==0">
                                                <mat-icon>add_circle_outline</mat-icon>
                                            </button>
                                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier_detail" (click)="modifier_detail()"
                                                *ngIf="item_selected_detail.length > 0 && !editing_detail[index_selected_detail]">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer"
                                                *ngIf="item_selected_detail.length > 0 && !editing_detail[index_selected_detail]" (click)="supprimer_detail()">
                                                <mat-icon>delete</mat-icon>
                                            </button>


                                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer"
                                                *ngIf="editing_detail[index_selected_detail] && item_selected_detail[0].client.id!=null &&
                                                 item_selected_detail[0].mission.id!=null && item_selected_detail[0].section.id!=null
                                                 && item_selected_detail[0].sous_section.id!=null && item_selected_detail[0].pourcentage>0 
                                                 && item_selected_detail[0].duree>0"
                                                 (click)="save_in_base_detail(0)">
                                                <mat-icon>save</mat-icon>
                                            </button>

                                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler" (click)="annuler_detail()"
                                                *ngIf="item_selected_detail.length > 0">
                                                <mat-icon>cancel</mat-icon>
                                            </button>           
                                        </span>
                                        <span class="p-12"><input type="text" style="padding:8px;margin:15px auto;width:100%;color:#353A48; border: 1px solid #babdc5;"
                                            placeholder="Rechercher..." (keyup)="updateFilter_detail($event)" /></span>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div>
                                        <ngx-datatable class="material" [rows]="rows_timesheet_detail" [loadingIndicator]="loadingIndicator_detail" [columnMode]="'force'"
                                            [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable_detail"
                                            [selectionType]="'checkbox'" [limit]="10" [selected]="item_selected_detail" [selectionType]="'single'"
                                            (select)="onSelect_detail($event)">


                                            <ngx-datatable-column name="CLIENT" prop="client.nom_client">
                                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                    <span  *ngIf="!editing_detail[rowIndex]">{{ value }}</span>
                                                    <span *ngIf="editing_detail[rowIndex]">
                                                        <mat-form-field appearance="legacy" style="min-width: 100px;">
                                                            <mat-select (selectionChange)="updateValue_select_client($event, 'client', rowIndex)" [(value)]="row.client.id" style="min-width: 100px;max-width: 120px; background-color: white;" >
                                                                
                                                                <mat-option *ngFor="let clie of all_client" 
                                                                    [value]="clie.id" [attr.selected]="row.client.id==clie.id ? true : null" >
                                                                {{clie.nom_client}}
                                                                </mat-option>
                                                            </mat-select>

                                                        </mat-form-field>

                                                    </span>
                                                </ng-template>
                                            </ngx-datatable-column>

                                            <ngx-datatable-column name="MISSION" prop="mission.libelle">
                                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                    <span  *ngIf="!editing_detail[rowIndex]">{{ value }}</span>
                                                    <span *ngIf="editing_detail[rowIndex]">
                                                        <mat-form-field appearance="legacy" style="min-width: 100px;">
                                                            <mat-select (selectionChange)="updateValue_select_mission($event, 'mission', rowIndex)" [(value)]="row.mission.id" style="min-width: 100px;max-width: 120px; background-color: white;" >
                                                                
                                                                <mat-option *ngFor="let miss of all_mission" 
                                                                    [value]="miss.id" [attr.selected]="row.mission.id==miss.id ? true : null" >
                                                                {{miss.libelle}}
                                                                </mat-option>
                                                            </mat-select>

                                                        </mat-form-field>

                                                    </span>
                                                </ng-template>
                                            </ngx-datatable-column>

                                            
                                            <ngx-datatable-column name="SECTION" prop="section.libelle">
                                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                    <span  *ngIf="!editing_detail[rowIndex]">{{ value }}</span>
                                                    <span *ngIf="editing_detail[rowIndex]">
                                                        <mat-form-field appearance="legacy" style="min-width: 100px;">
                                                            <mat-select (selectionChange)="updateValue_select_section($event, 'section', rowIndex)" [(value)]="row.section.id" style="min-width: 100px;max-width: 120px; background-color: white;" >
                                                                
                                                                <mat-option *ngFor="let sect of all_section" 
                                                                    [value]="sect.id" [attr.selected]="row.section.id==sect.id ? true : null" >
                                                                {{sect.libelle}}
                                                                </mat-option>
                                                            </mat-select>

                                                        </mat-form-field>

                                                    </span>
                                                </ng-template>
                                            </ngx-datatable-column>

                                

                                            <!--ngx-datatable-column name="Description du travail" prop="libelle">
                                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                    <span *ngIf="!editing_detail[rowIndex]">{{ value }}</span>
                                                    <input  *ngIf="editing_detail[rowIndex]" type="text" (change)="updateValue($event, 'libelle', rowIndex)" [value]="value" />
                                                </ng-template>
                                            </ngx-datatable-column-->
                                            
                                            <ngx-datatable-column name="SOUS SECTION" prop="sous_section.libelle">
                                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" >
                                                        <span *ngIf="!editing_detail[rowIndex]">{{ value }}</span>
                                                        <span *ngIf="editing_detail[rowIndex]" >
                                                            <mat-form-field >
                                                                <mat-select (selectionChange)="updateValue_sous_section($event, 'sous_section', rowIndex,row)" [(value)]="row.sous_section.id" style="min-width: 100px;max-width: 120px; background-color: white;">
                                                                    
                                                                    <mat-option *ngFor="let sous_ta of all_sous_section" 
                                                                        [value]="sous_ta.id" [attr.selected]="row.sous_section.id==sous_ta.id ? true : null" >
                                                                    {{sous_ta.libelle}}
                                                                    </mat-option>
                                                                </mat-select>
    
                                                            </mat-form-field>
    
                                                        </span>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            
                                            <ngx-datatable-column name="POURCENTAGE" prop="pourcentage">
                                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                    <span *ngIf="!editing_detail[rowIndex]">{{ value }} <span *ngIf="value"> %</span></span>
                                                    <input  *ngIf="editing_detail[rowIndex]" type="number" (change)="updateValue_detail($event, 'pourcentage', rowIndex)" [value]="value" />
                                                </ng-template>
                                            </ngx-datatable-column>
                                            
                                            <ngx-datatable-column name="HEURE CONSOMME" prop="duree">
                                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                    <span *ngIf="!editing_detail[rowIndex]">{{ value }}<span *ngIf="value"> Heures</span></span>
                                                    <input  *ngIf="editing_detail[rowIndex]" type="number" min="0" (keyup)="updateValue_duree($event, 'duree', rowIndex,row)" [value]="value" />
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="HEURE CUMULEE" prop="duree_cumule">
                                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                    <span *ngIf="!editing_detail[rowIndex]">{{ value }}<span *ngIf="value"> Heures</span></span>
                                                    <input  *ngIf="editing_detail[rowIndex]" type="text" [value]="value" readonly/>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            
                                        </ngx-datatable>
                                    </div>
                                    
                                </div>
                                <!-- / PUT YOUR TAB CONTENT HERE -->
                            </div>
                        </mat-tab>
    
                        <mat-tab label="RESUME DE LA SEMAINE">
                            <div class="tab-content p-24">
                                <!-- PUT YOUR TAB CONTENT HERE -->
                                <div>
                                    <ngx-datatable class="material striped" 
                                            [rows]="rows_timesheet_resume" 
                                            [loadingIndicator]="loadingIndicator_resume" 
                                            [columnMode]="'flex'"
                                            [headerHeight]="48" 
                                            [footerHeight]="56" 
                                            [rowHeight]="'auto'"  
                                            [scrollbarH]="true"
                                            [reorderable]="reorderable_resume"
                                            [limit]="10" >            
            
            
                                    <ngx-datatable-column name="LUNDI" [flexGrow]="1" [minWidth]="500">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                            <div *ngIf="row.LUNDI" style="padding: 0!important;">
                                                <mat-table [dataSource]="row.LUNDI" cel-border>
                                                    <ng-container  matColumnDef="client">
                                                        <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
                                                        <mat-cell *matCellDef="let element" [ngClass]="'smallCell'">{{element.client.nom_client}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="mission">
                                                        <mat-header-cell *matHeaderCellDef>Mission</mat-header-cell>
                                                        <mat-cell *matCellDef="let element" [ngClass]="'smallCell'">{{element.mission.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="section">
                                                        <mat-header-cell *matHeaderCellDef>Section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="soustache">
                                                        <mat-header-cell *matHeaderCellDef>Sous section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.sous_section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="duree">
                                                        <mat-header-cell *matHeaderCellDef>Durée</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.duree}} heures</mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: tableColumns; let entry"
                                                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                                                </mat-table>
                                            </div> 
                                                                  
                                        </ng-template>
                                    </ngx-datatable-column> 
                                    <ngx-datatable-column name="MARDI" [flexGrow]="1" [minWidth]="500">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                            <div *ngIf="row.MARDI" style="padding: 0!important;">
                                                <mat-table [dataSource]="row.MARDI">
                                                    <ng-container  matColumnDef="client">
                                                        <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
                                                        <mat-cell *matCellDef="let element" [ngClass]="'smallCell'">{{element.client.nom_client}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="mission">
                                                        <mat-header-cell *matHeaderCellDef>Mission</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.mission.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="section">
                                                        <mat-header-cell *matHeaderCellDef>Section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="soustache">
                                                        <mat-header-cell *matHeaderCellDef>Sous section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.sous_section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="duree">
                                                        <mat-header-cell *matHeaderCellDef>Durée</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.duree}} heures</mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: tableColumns; let entry"
                                                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                                                </mat-table> 

                                            </div>                   
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="MERCREDI" [flexGrow]="1" [minWidth]="500">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                            <div *ngIf="row.MERCREDI">
                                                <mat-table [dataSource]="row.MERCREDI">
                                                    <ng-container  matColumnDef="client">
                                                        <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
                                                        <mat-cell *matCellDef="let element" [ngClass]="'smallCell'">{{element.client.nom_client}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="mission">
                                                        <mat-header-cell *matHeaderCellDef>Mission</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.mission.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="section">
                                                        <mat-header-cell *matHeaderCellDef>Section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="soustache">
                                                        <mat-header-cell *matHeaderCellDef>Sous section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.sous_section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="duree">
                                                        <mat-header-cell *matHeaderCellDef>Durée</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.duree}} heures</mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: tableColumns; let entry"
                                                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                                                </mat-table>
                                            </div>
                                                                    
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="JEUDI" [flexGrow]="1" [minWidth]="500">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                            <div *ngIf="row.JEUDI">
                                                <mat-table [dataSource]="row.JEUDI">
                                                    <ng-container  matColumnDef="client">
                                                        <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
                                                        <mat-cell *matCellDef="let element" [ngClass]="'smallCell'">{{element.client.nom_client}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="mission">
                                                        <mat-header-cell *matHeaderCellDef>Mission</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.mission.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="section">
                                                        <mat-header-cell *matHeaderCellDef>Section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="soustache">
                                                        <mat-header-cell *matHeaderCellDef>Sous section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.sous_section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="duree">
                                                        <mat-header-cell *matHeaderCellDef>Durée</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.duree}} heures</mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: tableColumns; let entry"
                                                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                                                </mat-table>
                                            </div>    
                                                                    
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="VENDREDI" [flexGrow]="1" [minWidth]="500">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                            <div *ngIf="row.VENDREDI">
                                                <mat-table [dataSource]="row.VENDREDI">
                                                    <ng-container  matColumnDef="client">
                                                        <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
                                                        <mat-cell *matCellDef="let element" [ngClass]="'smallCell'">{{element.client.nom_client}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="mission">
                                                        <mat-header-cell *matHeaderCellDef>Mission</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.mission.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="section">
                                                        <mat-header-cell *matHeaderCellDef>Section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="soustache">
                                                        <mat-header-cell *matHeaderCellDef>Sous section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.sous_section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="duree">
                                                        <mat-header-cell *matHeaderCellDef>Durée</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.duree}} heures</mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: tableColumns; let entry"
                                                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                                                </mat-table> 

                                            </div>                   
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="SAMEDI" [flexGrow]="1" [minWidth]="500">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                            <div *ngIf="row.SAMEDI">
                                                <mat-table [dataSource]="row.SAMEDI">
                                                    <ng-container  matColumnDef="client">
                                                        <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
                                                        <mat-cell *matCellDef="let element" [ngClass]="'smallCell'">{{element.client.nom_client}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="mission">
                                                        <mat-header-cell *matHeaderCellDef>Mission</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.mission.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="section">
                                                        <mat-header-cell *matHeaderCellDef>Section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="soustache">
                                                        <mat-header-cell *matHeaderCellDef>Sous section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.sous_section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="duree">
                                                        <mat-header-cell *matHeaderCellDef>Durée</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.duree}} heures</mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: tableColumns; let entry"
                                                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                                                </mat-table> 
                                            </div>
                                                                   
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="DIMANCHE" [flexGrow]="1" [minWidth]="500">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                            <div *ngIf="row.DIMANCHE">
                                                <mat-table [dataSource]="row.DIMANCHE">
                                                    <ng-container  matColumnDef="client">
                                                        <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
                                                        <mat-cell *matCellDef="let element" [ngClass]="'smallCell'">{{element.client.nom_client}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="mission">
                                                        <mat-header-cell *matHeaderCellDef>Mission</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.mission.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="section">
                                                        <mat-header-cell *matHeaderCellDef>Section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="soustache">
                                                        <mat-header-cell *matHeaderCellDef>Sous section</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.sous_section.libelle}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container  matColumnDef="duree">
                                                        <mat-header-cell *matHeaderCellDef>Durée</mat-header-cell>
                                                        <mat-cell *matCellDef="let element">{{element.duree}} heures</mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: tableColumns; let entry"
                                                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
                                                </mat-table> 

                                            </div>                   
                                        </ng-template>
                                    </ngx-datatable-column>

                                    </ngx-datatable>
                                </div>
                                <!-- / PUT YOUR TAB CONTENT HERE -->
                            </div>
                        </mat-tab>
    
                    </mat-tab-group>
    
                </div>
                
            </div>
        </div>
        
        
    </div>
    
    <ng-template #suppressionDialog>
        <h2 matDialogTitle>Etes-vous sûr de supprimer cet enregistrement ?</h2>
        <mat-dialog-content>      
          
        </mat-dialog-content>
        <mat-dialog-actions align="end">
          <button mat-button matDialogClose color="primary" (click)="suppressionConfirmer()">Ok</button>
          <button mat-button matDialogClose color="primary" (click)="closeDialog()">Fermer</button>
        </mat-dialog-actions>
      </ng-template>
      <ng-template #suppressionDialog_detail>
        <h2 matDialogTitle>Etes-vous sûr de supprimer cet enregistrement ?</h2>
        <mat-dialog-content>      
          
        </mat-dialog-content>
        <mat-dialog-actions align="end">
          <button mat-button matDialogClose color="primary" (click)="suppressionConfirmer_detail()">Ok</button>
          <button mat-button matDialogClose color="primary" (click)="closeDialog()">Fermer</button>
        </mat-dialog-actions>
      </ng-template>
      <ng-template #avertissementDialog_timesheet let-data>
        <h2 matDialogTitle>{{data.titre}}</h2>
        <mat-dialog-content>      
          <span>{{data.corps}}</span><br>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
          <button mat-button matDialogClose color="primary" (click)="closeDialog()">Fermer</button>
        </mat-dialog-actions>
      </ng-template>
</div>